@import url(./fonts.css);
@import url(./animations.css);
@import url(./variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: auto;
}

body {
    background-color: var(--dark);
    color: #fff;
    font-family: monserrat-s, sans-serif;
    min-width: 320px;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    /*pointer-events: none;*/
    z-index: 100;
}

.top-line {
    display: flex;
    gap: 50px;
}
.top-line__left {
    width: 20%;
    display: flex;
    align-items: center;
}
.top-line__center {
    display: flex;
    justify-content: center;
    flex: 1 1 0%;
}
.top-line__right {
    width: 20%;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    align-items: center;
}
